@import url('https://fonts.googleapis.com/css2?family=DM+Sans&display=swap');

/* MOBILE */

* {
    font-family: 'DM Sans', sans-serif;
}

a.home {
  color: rgb(0, 0, 0);
  text-decoration: none; /* no underline */
}

header {
    /* border-style: solid; */
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 6vh;
    min-height: 150px;

}

.title {
    font-size: 4em;
    padding-left: 35px;
    font-family: 'DM Sans', sans-serif;
    font-weight: 500;
}

/* #burger {
    padding-top: 5px;
    padding-right: 40px;
    height: 4em;
    z-index: 5;
} */

.noscroll { overflow: hidden; }

#burger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  /* text */
  margin-right: 100px;
  /* burger */
  margin-right: 50px; 
  height: 50px;
  width: 50px;
  z-index: 5;
}

#burger #burger-row {
  border-style: solid;
} */

.dropdown {
    position: relative;
    display: inline-block;
    /* overflow-y: scroll; */
  }

  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    padding-top: 190px;
    padding-bottom: 190px;

    position: fixed;
    top: 0;

    /* overflow-y: scroll; */


    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */



    visibility: visible;
    opacity: 0;
    transition: visibility 0s, opacity 0.2s linear;
    text-align: right;

    /* display: none; */
    background-color: #00000091;
    min-width: 100%;
    z-index: -1;

    height: calc(100vh - 380px);

    overflow: scroll;

  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: 0.2s;
  }

  .dropdown-content a:hover {
    color: rgb(0, 0, 0);

  }

 .dropdown-content a.head {
    font-size: 30px;
    
 }

 .dropdown-content a.sub {
    font-size: 30px;
    

}

  .show {
      visibility: visible;
      opacity: 1;
      transition: visibility 0s, opacity 0.3s linear;
      z-index: 2;
}

.hide {
    opacity: 0;
}


  .spacer {
      height: auto;
  }

  body {
      margin: 0;
      min-width: 270px;
  }

  .divider {
    border-style: solid;
    width: 100px;
  }

  .image-container {
      /* padding: 0px 10px 4px 10px; */
      /* padding: 0px 15px 15px 15px; */
      /* padding: 0px 25px 25px 25px; */
      padding: 0px 35px 25px 35px;
      padding: 0px 40px 2px 40px;
      display: grid;
      height: 100%;
      /* width: 100%; */
  }

  .image-container img {
    max-width: 100%;
    /* max-height: 100vh; */
    margin: auto;
  }

  span.dropbtn {
    font-size: 35px;
  }

  footer {
    width: 100vw;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  a.footer {
    color: black;
    font-size: 30px;
    text-decoration: none;
    margin: 35px;
  }

/* DESKTOP */
@media (min-width: 600px) {
    body {
            background-color: white;
    }
}